@charset "UTF-8";

/* common ui */
/* button style */
body {
    background-image: url(../img/Christmas.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.button {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 32px;
    line-height: 32px;
    padding: 8px 32px;
    border-radius: 24px;
    background-color: darkred;
}

.button:hover {
    color: darkred;
    background-color: #ffffff;
    text-shadow: none;
}

/* progressbar style */
.progressbar .items-wrap {
    overflow: hidden;
    color: black;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}

.progressbar .items-wrap:last-child {
    margin-bottom: 0;
}

.progressbar .items-wrap .item {
    overflow: hidden;
    padding: 6px 10px;
    border-radius: 0 5px 5px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    height: 45px;
    width: 0;
    line-height: 45px;
    transition-duration: 1s;
}

.progressbar .item .title {
    float: left;
    font-weight: 700;
    padding: 6px 0;
}

.progressbar .item .percent {
    float: right;
    padding: 6px 0;
}

.goToTop {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 10px;
    bottom: 10px;
    background-color: black;
    z-index: 800;
    border-radius: 50%;
    transition: 1s;
    opacity: 0;
}
.goToTop.on {
    opacity: 1;
    
}
.goToTop a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.goToTop svg {
    fill: white;
    width: 24px;
    height: 24px;
}

/* mobile button style */
input[type="checkbox"]#gnbcheck {
    display: none;
}

#gnbbtn {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    z-index: 700;
}

#gnbbtn span {
    position: absolute;
    top: 16px;
    width: 32px;
    height: 1.6px;
    background-color: white;
    transform: translateY(-50%);
}

#gnbbtn span:nth-child(1) {
    top: 8px;
}

#gnbbtn span:nth-child(3) {
    top: 24px;
}

/* header area */
#header {
    position: fixed;
    width: 100%;
    background-color: brown;
    overflow: hidden;
    top: 0;
    z-index: 800;
    background-color: rgba(0, 0, 0, .3);
}

/* top logo */
#top-logo {
    float: left;
}

#top-logo a {
    font-size: 24px;
    color: white;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
    text-transform: uppercase;
}

/* gnb area */
#gnb {
    float: right;
}

#gnb ul {
    overflow: hidden;
}

#gnb ul li {
    float: left;
}

#gnb ul li a {
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
}

/* section area */
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .3);
}


section#intro {
    background-repeat: no-repeat;
    background-size: cover;
}
section#portfolio h2 {
    color: #ffffff;
} 

section#portfolio .row .column .inner p {
    text-align: left;
}
section#portfolio .row .column a {
    display: flex;
    margin: 15px 10px 0 0;
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px 5px;
    color: #333333;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    float: left;
    justify-content: center;
    align-items: center;
}
section#portfolio .row .column a:hover {
    border: 1px solid white;
    background-color: darkred;
    color: white;
    filter: drop-shadow(0px 0 5px rgb(163, 163, 163));
}
section#myskill {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#myskill .row>h2,
section#myskill .row .column .inner>p {
    color: black;
}

section#myskill .row .progressbar .items-wrap:nth-of-type(1) .item {
    background-color: #ebaf17;
}

section#myskill .row .progressbar .items-wrap:nth-of-type(2) .item {
    background-color: #edd118;
}

section#myskill .row .progressbar .items-wrap:nth-of-type(3) .item {
    background-color: #dfed18;
}

section#myskill .row .progressbar .items-wrap:nth-of-type(4) .item {
    background-color: #abed17;
}

section#myskill.active .row .progressbar .items-wrap:nth-of-type(1) .item {
    width: 85%;
}

section#myskill.active .row .progressbar .items-wrap:nth-of-type(2) .item {
    width: 80%;
    transition-delay: 0.25s ;
}

section#myskill.active .row .progressbar .items-wrap:nth-of-type(3) .item {
    width: 5%;
    transition-delay: 0.5s ;
}

section#myskill.active .row .progressbar .items-wrap:nth-of-type(4) .item {
    width: 5%;
    transition-delay: 0.75s ;
}
section#mytool {
    background-color: white;
}
.row .column .inner img.shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    border: 1px solid #f1f1f1;
    transition: 1s;
}

.row .column .inner.border-none-type {
    border: none;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    padding-bottom: 80px;
}

section>article {
    text-align: center;
    padding: 0 20%;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, .8);
}

section>article>h2 {
    font-size: 40px;
}

section>article>p {
    font-size: 20px;
}

section .row {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    color: #333333;
    padding: 120px 0;
    /*section의 타이틀 영역*/
    text-align: center;
}

section .row>h2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

section .row>h2:before,
section .row>h2:after {
    content: '';
    position: absolute;
    display: block;
}

section .row>h2:before {
    left: calc(50% - 60px);
    width: 120px;
    height: 1px;
    background-color: #dddddd;
    bottom: 1px;
}

section .row>h2:after {
    left: calc(50% - 20px);
    background-color: darkred;
    width: 40px;
    height: 3px;
    bottom: 0px;
}

/* section row column style */
section .row .column {
    flex: 25%;
    /*flex-shrink:1*/
    transform: scale(0);
    transition: .3s;
    
}
section.active .row .column{
    transform: scale(1);
}

section .row .column .inner {
    margin: 15px;
    padding: 15px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    
}

section .row .column .inner img {
    width: 100%;

}
#footer {
    width: 100%;
    color: #ffffff;
    background-color: #000000;
}
#footer .footer-top {
    padding: 30px 0 60px;
}
#footer .container {
    width: 1140px;
    margin: 0 auto;
    background-color: #000000;
}
#footer > .container {
    padding: 30px 0;
    text-align: center;
}
#footer .container .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#footer .container .row .column {
flex: 25%;/*flex-shrink: 1, flex-grow: 1*/
box-sizing: border-box;
padding: 0 10px;
margin-bottom: 30px;
box-sizing: border-box;
}
#footer .container .row .column.f-logo h3 {
font-size: 34px;
padding: 2px 0 2px 10px;
margin: 0 0 20px 0;
line-height: 1;
font-weight: 700;
letter-spacing: 3px;
border-left: 4px solid darkred;
color: #ffffff;
}
#footer .container .row .column h4 {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}
#footer .container .row .column h4::before,
#footer .container .row .column h4:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}
#footer .container .row .column h4::before {
    width: 60px;
    background-color: darkred;
}
#footer .container .row .column ul li {
    padding: 10px 0;
    border-bottom: 1px solid #333333;
}
#footer .container .row .column p {
    line-height: 26px;
}
#footer .container .row .column.news input[type="search"]{
    border: 0;
    padding: 6px 8px;
    width: 65%;
    outline: none;
}
#footer .container .row .column.news input[type="submit"]{
border: 0;
width: 35%;
padding: 6px 0;
text-align: center;
color: #ffffff;
cursor: pointer;
background-color: darkred;
}
@media screen and (max-width: 1200px) {
    section .row .column {
flex: 50%
    }
section#myprofile .row .column .inner img {
    width: 30%;
}
#footer .container {
    width: 100%;
}
#footer .container .row .column{
    flex: 50%;
}
}

@media screen and (max-width: 820px) {
    section .row .column {
        flex: 100%
            }
           section#mytool .row .column {
                flex: 50%;
            }
            #footer .container .row .column{
                flex: 100%;
            }

    input[type="checkbox"]#gnbcheck:checked~#gnb {
        left: 0;
    }

    /* 햄버거 버튼 */
    input[type="checkbox"]#gnbcheck:checked~#gnbbtn>span:nth-child(2) {
        display: none;
    }

    input[type="checkbox"]#gnbcheck:checked~#gnbbtn>span {
        top: 50%;
    }

    input[type="checkbox"]#gnbcheck:checked~#gnbbtn>span {
        transform: translateY(-50%) rotate(45deg);
    }

    input[type="checkbox"]#gnbcheck:checked~#gnbbtn>span:nth-child(3) {
        transform: translateY(-50%) rotate(-45deg);
    }

    #gnbbtn {
        display: block;

    }

    /* mobile gnb */
    #gnb {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 80%;
        background-color: rgba(0, 0, 0, .8);
        transition: 0.5s ease-in-out;
    }

    #gnb ul {
        padding-top: 50px;
    }

    #gnb ul li {
        width: 100%;
        padding-left: 10px;
        box-sizing: border-box;
    }

    #header {
        position: absolute;
    }
}

@media screen and (max-width: 380px) {
    section#mytool .row .column {
        flex: 100%;
    }
}